@{
    ViewData["Title"] = "Admin Dashboard";
}
<h2>Welcome, Admin</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/Users" class="btn btn-primary w-100">Manage Users</a>
        </div>
        <div class="col-md-4">
            <a href="/Roles" class="btn btn-secondary w-100">Manage Roles</a>
        </div>
        <div class="col-md-4">
            <a href="/Projects" class="btn btn-success w-100">Manage Projects</a>
        </div>
    </div>
</div>
