@{
    ViewData["Title"] = "Developer Dashboard";
}
<h2>Welcome, Developer</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="/Tasks/AssignedTasks" class="btn btn-primary w-100">View Assigned Tasks</a>
        </div>
        <div class="col-md-6">
            <a href="/BugTracking" class="btn btn-danger w-100">Fix Bugs</a>
        </div>
    </div>
</div>
