@{
    ViewData["Title"] = "Project Manager Dashboard";
}
<h2>Welcome, Project Manager</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="/Sprints" class="btn btn-primary w-100">Manage Sprints</a>
        </div>
        <div class="col-md-4">
            <a href="/Tasks" class="btn btn-secondary w-100">Assign Tasks</a>
        </div>
        <div class="col-md-4">
            <a href="/TeamMembers" class="btn btn-success w-100">Manage Teams</a>
        </div>
    </div>
</div>
